#header .logo h1 {
    font-size: 50px;
    
  }
  #header .logo h1 a,
#header .logo h1 a:hover {
    color: rgb(206, 24, 24);
  text-decoration: none;
}

@media (max-width: 390px) {
  #header .logo h1 a,
  #header .logo h1 a:hover {
      color: rgb(36, 24, 206);
    text-decoration: none;
  }
  }
  